.container {
  height: calc(100vh - 2 * 10px);
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: calc(100vw / 3);
  min-width: 480px;
  /* max-width: 800px; */
  overflow: hidden;
  margin: 10px;
  border: 5px solid #e9eaeb;
  border-radius: 10px;
  background-color: #f5f9f9;
  transition: width 0.3s ease
}

.container.inactive {
  /* background: rgba(208, 202, 202, 0.5); */
  filter: grayscale(50%) opacity(0.3) blur(1px);
}

.container.wide {
  grid-template-columns: 1fr 1fr;
  width: calc((100vw / 3)*2);
}

.incidentNav {
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  height: 45.5px;
}

.incidentNav p {
  margin: 10px;
  font-weight: bold;
}

.incidentNav p:hover {
  cursor: pointer;
}

.activeNav {
  border-bottom: 3px solid #1b3259;
  border-radius: 1px;
  padding-bottom: 3px;
  transition: border 0.3s ease;
}

.label {
  display: block;
  font-weight: bold;
  padding-bottom: 8px;
}
  
.row1 {
  /* background-color: green; */
  overflow: auto;
  padding: 10px;
  }

input, textarea {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #f5f9f9;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  font-family: inherit;
  }

textarea {
  resize: vertical;
}

input#street, input#district {
  width: 80%;
}

input#houseNumber {
  width: 18%;
  margin-left: 2%;
}

input#zipCode {
  width: 18%;
  margin-right: 2%;
}

input#patientLastname {
  width: 49%;
  margin-right: 2%;
}

input#patientFirstname {
  width: 49%;
}

.patientBirthdateContainer {
  position: relative;
  width: 100%;
}

input#patientBirthdate {
  width: 100%;
  padding-right: 50px;
  box-sizing: border-box;
}

.resetCircle {
  position: absolute;
  right: 10px;
  top: calc(50% - 5px);
  width: 15px;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 15px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.resetCircle::before, .resetCircle::after {
  content: '';
  width: 60%;
  position: absolute;
  background-color: #f5f9f9;
  height: 10%;
}

.resetCircle::before {
  transform: rotate(45deg);
}

.resetCircle::after {
  transform: rotate(-45deg);
}

#gender {
  font-weight: 300;
  font-size: smaller;
  display: inline-block;
  margin-right: 3%;
}

.genderRadioContainer {
  display: inline-block;
  width: 40%;
}

.genderRadio {
  width: auto;
  margin-right: 5px;
  cursor: pointer;
}

.genderLabel {
  font-weight: 300;
  font-size: smaller;
  margin-right: 5px;;
}

.row2 {
  /* background-color: blue; */
  overflow: auto;
}

.hidden {
  display: none;
}

.buttonField {
  grid-row: 3;
  grid-column: 1 / -1;
  /* background-color: red; */
  max-width: calc(100vw / 3);
  height: 45.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonField button:hover {
  cursor: pointer;
}

.resetButton {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  margin: 0 calc(5%) 0 calc(5%);
  background-color: #f5f9f9;
}

.submitButton {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 0 calc(5%) 0 calc(5%);
  background-color: rgb(81, 128, 230);
  color: #ffffff;
}